Playbooks/Send-DefnderIncident2EH/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments":"This playbook will send Defender 365 and Azure defender incident into Event Hub,this playbook uses the new incident trigger and needs automation rule to trigger.",
        "author": "Yaniv Shasha"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Send-DefnderIncident2EH",
            "type": "String"
        }
    },
    "variables": {

            "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "eventhubsConnectionName": "[concat('eventhubs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('eventhubsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('eventhubsConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Alerts_Array": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "alerts",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Parse_JSON')?['object']?['properties']?['alerts']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "alerts",
                                        "value": "\"systemAlertID\":\"@{items('For_each')?['properties']?['systemAlertId']}\",\"description\":\"@{items('For_each')['properties']['description']}\",\"alertDisplayName\":\"@{items('For_each')['properties']['alertDisplayName']}\",\"severity\":\"@{items('For_each')['properties']['severity']}\",\"status\":\"@{items('For_each')['properties']['status']}\",\"productName\":\"@{items('For_each')['properties']['productName']}\",\"providerAlertId\":\"@{items('For_each')['properties']['providerAlertId']}\",\"timeGenerated\":\"@{items('For_each')['properties']['timeGenerated']}"
                                    }
                                },
                                "Send_event": {
                                    "runAfter": {
                                        "Append_to_array_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "ContentData": "@{base64(concat('{','\n','\"Owner\":\"',triggerBody()?['object']?['properties']?['owner'],'\",','\n','\"alerts\":\"',items('For_each'),'\"','\n','\"IncidentLink\":\"',body('Parse_JSON')?['object']?['properties']?['incidentUrl'],'\",','\n','\"IncidentNumber\":\"',body('Parse_JSON')?['object']?['properties']?['incidentNumber'],'\",','\n','\"bookmarks\":\"',body('Parse_JSON')?['object']?['properties']?['bookmarks'],'\",','\n','\"Comments\":\"',body('Parse_JSON')?['object']?['properties']?['comments'],'\",','\n','\"Label\":\"',body('Parse_JSON')?['object']?['properties']?['labels'],'\",','\n','\"providerIncidentId\":\"',body('Parse_JSON')?['object']?['properties']?['providerIncidentId'],'\",','\n','\"relatedEntities\":\"',body('Parse_JSON')?['object']?['properties']?['relatedEntities'],'\",','\n','\"tactics\":\"',body('Parse_JSON')?['object']?['properties']?['additionalData']?['tactics'],'\",','\n','\"Entities\":\"',triggerBody()?['object']?['properties']?['relatedEntities'],'\"','\n','}'))}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['eventhubs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/@{encodeURIComponent('incident')}/events"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Alerts_Array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "eventUniqueId": {
                                                    "type": "string"
                                                },
                                                "object": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "additionalData": {
                                                                    "properties": {
                                                                        "alertProductNames": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "alertsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "bookmarksCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "commentsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "tactics": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "alerts": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalData": {
                                                                                        "properties": {
                                                                                            "Analytic Rule Ids": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Analytic Rule Name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Custom Details": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Data Sources": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Event Grouping": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "ProcessedBySentinel": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query End Time UTC": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query Period": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query Start Time UTC": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Search Query Results Overall Count": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Trigger Operator": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Trigger Threshold": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "alertDisplayName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "alertType": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "confidenceLevel": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "description": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "endTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "processingEndTime": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "productComponentName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "productName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "providerAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "resourceIdentifiers": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "resourceGroup": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "subscriptionId": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "workspaceId": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "type",
                                                                                                "workspaceId",
                                                                                                "subscriptionId",
                                                                                                "resourceGroup"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "severity": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "startTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "status": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "systemAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "tactics": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "timeGenerated": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "vendorName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "bookmarks": {
                                                                    "type": "array"
                                                                },
                                                                "comments": {
                                                                    "type": "array"
                                                                },
                                                                "createdTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "firstActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                },
                                                                "incidentUrl": {
                                                                    "type": "string"
                                                                },
                                                                "labels": {
                                                                    "type": "array"
                                                                },
                                                                "lastActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "lastModifiedTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "assignedTo": {},
                                                                        "email": {},
                                                                        "objectId": {},
                                                                        "userPrincipalName": {}
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "providerIncidentId": {
                                                                    "type": "string"
                                                                },
                                                                "providerName": {
                                                                    "type": "string"
                                                                },
                                                                "relatedAnalyticRuleIds": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "relatedEntities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "address": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "severity": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "objectEventType": {
                                                    "type": "string"
                                                },
                                                "objectSchemaType": {
                                                    "type": "string"
                                                },
                                                "workspaceId": {
                                                    "type": "string"
                                                },
                                                "workspaceInfo": {
                                                    "properties": {
                                                        "ResourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "SubscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "WorkspaceName": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Accept-Encoding": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                             "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "eventhubs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('eventhubsConnectionName'))]",
                                "connectionName": "[variables('eventhubsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}