Playbooks/IncidentTrigger-Get-SentinelAlertsEvidence/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments":"This playbook will collect sentinel incident evidence (aka 'Events') and send them and the alerts to EventHub. 3rd party SIEM can connect to the above EventHub and save this data to farther analysis.",
        "author": "Yaniv Shasha"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "IncidentTrigger-Get-SentinelAlertsEvidence",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "AzureSentinelLogAnalyticsWorkspaceName": {
        "defaultValue": "yourAzureSentinelworkspacename",
        "type": "string"
        },
        "AzureSentinelLogAnalyticsWorkspaceResourceGroupName": {
        "defaultValue": "yourAzureSentinelworkspaceRGname",
        "type": "string"
        },
        "EventsNumber": {
            "defaultValue": 10,
            "type": "int"
        }
    },
    "variables": {
        "azuremonitorlogs": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
        "azuresentinel": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "eventhubs": "[concat('eventhubs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuresentinel')]",
            "location": "[resourceGroup().location]",
            "properties": {
                           "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuremonitorlogs')]",
            "location": "[resourceGroup().location]",
            "properties": {
                           "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('eventhubs')]",
            "location": "[resourceGroup().location]",
            "properties": {
             "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azuresentinel'))]",
                "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogs'))]",
                "[resourceId('Microsoft.Web/connections', variables('eventhubs'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON_2')?['object']?['properties']?['alerts']",
                            "actions": {
                                "Parse_JSON_3": {
                                    "runAfter": {
                                        "Run_query_and_list_results_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Run_query_and_list_results_3')",
                                        "schema": {
                                            "properties": {
                                                "body": {
                                                    "properties": {
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "ActivityStatus": {
                                                                        "type": "string"
                                                                    },
                                                                    "ActivityStatusValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "ActivitySubstatus": {
                                                                        "type": "string"
                                                                    },
                                                                    "ActivitySubstatusValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "Authorization": {
                                                                        "type": "string"
                                                                    },
                                                                    "Authorization_d": {},
                                                                    "Caller": {
                                                                        "type": "string"
                                                                    },
                                                                    "CallerIpAddress": {
                                                                        "type": "string"
                                                                    },
                                                                    "Category": {
                                                                        "type": "string"
                                                                    },
                                                                    "CategoryValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "Claims": {
                                                                        "type": "string"
                                                                    },
                                                                    "Claims_d": {},
                                                                    "CorrelationId": {
                                                                        "type": "string"
                                                                    },
                                                                    "EventDataId": {
                                                                        "type": "string"
                                                                    },
                                                                    "EventSubmissionTimestamp": {
                                                                        "type": "string"
                                                                    },
                                                                    "HTTPRequest": {
                                                                        "type": "string"
                                                                    },
                                                                    "Hierarchy": {
                                                                        "type": "string"
                                                                    },
                                                                    "Level": {
                                                                        "type": "string"
                                                                    },
                                                                    "OperationId": {
                                                                        "type": "string"
                                                                    },
                                                                    "OperationName": {
                                                                        "type": "string"
                                                                    },
                                                                    "OperationNameValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "Properties": {
                                                                        "type": "string"
                                                                    },
                                                                    "Properties_d": {},
                                                                    "Resource": {
                                                                        "type": "string"
                                                                    },
                                                                    "ResourceGroup": {
                                                                        "type": "string"
                                                                    },
                                                                    "ResourceId": {
                                                                        "type": "string"
                                                                    },
                                                                    "ResourceProvider": {
                                                                        "type": "string"
                                                                    },
                                                                    "ResourceProviderValue": {
                                                                        "type": "string"
                                                                    },
                                                                    "SourceSystem": {
                                                                        "type": "string"
                                                                    },
                                                                    "SubscriptionId": {
                                                                        "type": "string"
                                                                    },
                                                                    "TenantId": {
                                                                        "type": "string"
                                                                    },
                                                                    "TimeGenerated": {
                                                                        "type": "string"
                                                                    },
                                                                    "Type": {
                                                                        "type": "string"
                                                                    },
                                                                    "_ResourceId": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "TenantId",
                                                                    "SourceSystem",
                                                                    "CallerIpAddress",
                                                                    "CategoryValue",
                                                                    "CorrelationId",
                                                                    "Authorization",
                                                                    "Authorization_d",
                                                                    "Claims",
                                                                    "Claims_d",
                                                                    "Level",
                                                                    "OperationNameValue",
                                                                    "Properties",
                                                                    "Properties_d",
                                                                    "Caller",
                                                                    "EventDataId",
                                                                    "EventSubmissionTimestamp",
                                                                    "HTTPRequest",
                                                                    "OperationId",
                                                                    "ResourceGroup",
                                                                    "ResourceProviderValue",
                                                                    "ActivityStatusValue",
                                                                    "ActivitySubstatusValue",
                                                                    "Hierarchy",
                                                                    "TimeGenerated",
                                                                    "SubscriptionId",
                                                                    "OperationName",
                                                                    "ActivityStatus",
                                                                    "ActivitySubstatus",
                                                                    "Category",
                                                                    "ResourceId",
                                                                    "ResourceProvider",
                                                                    "Resource",
                                                                    "Type",
                                                                    "_ResourceId"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Run_query_and_list_results_3": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "set query_datetimescope_column = \"TimeGenerated\";\nset query_datetimescope_from = datetime(@{items('For_each')?['properties']?['additionalData']?['Query Start Time UTC']});\nset query_datetimescope_to = datetime(@{items('For_each')?['properties']?['additionalData']?['Query End Time UTC']});\n@{items('For_each')?['properties']?['additionalData']?['Query']}\n| top @{variables('EventsNumber')} by TimeGenerated desc ",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                         "method": "post",
                                            "path": "/queryData",
                                            "queries": {
                                               "resourcegroups": "[parameters('AzureSentinelLogAnalyticsWorkspaceResourceGroupName')]",
                                            "resourcename": "[parameters('AzureSentinelLogAnalyticsWorkspaceName')]",
                                                "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[subscription().subscriptionId]",
                                                "timerange": "@{body('Parse_JSON_2')?['Query Period']}"
                                            }
                                    }
                                },
                                "Send_event": {
                                    "runAfter": {
                                        "Parse_JSON_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "ContentData": "@{base64(concat('\"{','\n','\"Alert Display Name\": \"',items('For_each')?['properties']?['alertDisplayName'],'\",','\n','\"Product Name\":\"',items('For_each')?['properties']?['productName'],'\",','\n','\"Incident_Entities\":\"',triggerBody()?['object']?['properties']?['relatedEntities'],'\",','\n','\"AlertsDescription\": \"',items('For_each')['properties']['description'],'\",','\n','\"Severity\":\"',items('For_each')['properties']['severity'],'\",','\n','\"Incident Url\":\"',triggerBody()?['object']?['properties']?['incidentUrl'],'\",','\n','\"Incident Owner\":\"',triggerBody()?['object']?['properties']?['owner'],'\",','\n','\"Incident Description\":\"',triggerBody()?['object']?['properties']?['description'],'\",','\n','\"Incident Title\":\"',triggerBody()?['object']?['properties']?['title'],'\",','\n','\"Incident comment\":\"',triggerBody()?['object']?['properties']?['Comments'],'\"','\n','\"Alert Time\":\"',items('For_each')['properties']['timeGenerated'],'\",','\n','\"Alert Resource Group\":\"',items('For_each')['properties']['resourceIdentifiers'][0]['resourceGroup'],'\",','\n','\"Alert Subscription Id\":\"',items('For_each')['properties']['resourceIdentifiers'][0]['subscriptionId'],'\",','\n','\"Alert type\":\"',items('For_each')['properties']['productComponentName'],'\",','\n','\"Provider Alert ID\":\"',items('For_each')['properties']['providerAlertId'],'\"','\n','\"Alert Start Time\":\"',items('For_each')['properties']['startTimeUtc'],'\",','\n','\"Alert End Time\":\"',items('For_each')['properties']['endTimeUtc'],'\",','\n','\"Events\":\"',body('Parse_JSON_3'),'\",','\n','}\"','\n','\n','\n'))}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['eventhubs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                         "path": "//events"
                                    }
                                }
                            },
                            "runAfter": {
                                "Number_of_events_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Number_of_events_": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EventsNumber",
                                        "type": "integer",
                                         "value": "[parameters('EventsNumber')]"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "eventUniqueId": {
                                                    "type": "string"
                                                },
                                                "object": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "additionalData": {
                                                                    "properties": {
                                                                        "alertProductNames": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "alertsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "bookmarksCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "commentsCount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "tactics": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "alerts": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "additionalData": {
                                                                                        "properties": {
                                                                                            "Analytic Rule Ids": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Analytic Rule Name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Custom Details": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Data Sources": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Event Grouping": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "ProcessedBySentinel": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query End Time UTC": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query Period": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Query Start Time UTC": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Search Query Results Overall Count": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Trigger Operator": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Trigger Threshold": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "alertDisplayName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "alertType": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "confidenceLevel": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "description": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "endTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "processingEndTime": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "productComponentName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "productName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "providerAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "resourceIdentifiers": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "resourceGroup": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "subscriptionId": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "type": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "workspaceId": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "type",
                                                                                                "workspaceId",
                                                                                                "subscriptionId",
                                                                                                "resourceGroup"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "severity": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "startTimeUtc": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "status": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "systemAlertId": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "tactics": {
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "timeGenerated": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "vendorName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "bookmarks": {
                                                                    "type": "array"
                                                                },
                                                                "comments": {
                                                                    "type": "array"
                                                                },
                                                                "createdTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "firstActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "incidentNumber": {
                                                                    "type": "integer"
                                                                },
                                                                "incidentUrl": {
                                                                    "type": "string"
                                                                },
                                                                "labels": {
                                                                    "type": "array"
                                                                },
                                                                "lastActivityTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "lastModifiedTimeUtc": {
                                                                    "type": "string"
                                                                },
                                                                "owner": {
                                                                    "properties": {
                                                                        "assignedTo": {},
                                                                        "email": {},
                                                                        "objectId": {},
                                                                        "userPrincipalName": {}
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "providerIncidentId": {
                                                                    "type": "string"
                                                                },
                                                                "providerName": {
                                                                    "type": "string"
                                                                },
                                                                "relatedAnalyticRuleIds": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "relatedEntities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "kind": {
                                                                                "type": "string"
                                                                            },
                                                                            "properties": {
                                                                                "properties": {
                                                                                    "address": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "friendlyName": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type",
                                                                            "kind",
                                                                            "properties"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "severity": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "objectEventType": {
                                                    "type": "string"
                                                },
                                                "objectSchemaType": {
                                                    "type": "string"
                                                },
                                                "workspaceId": {
                                                    "type": "string"
                                                },
                                                "workspaceInfo": {
                                                    "properties": {
                                                        "ResourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "SubscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "WorkspaceName": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                         "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel'))]",
                                "connectionName": "[variables('azuresentinel')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogs'))]",
                                "connectionName": "[variables('azuremonitorlogs')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "eventhubs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('eventhubs'))]",
                                "connectionName": "[variables('eventhubs')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/eventhubs')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}